backups/   # ignore the backups folder, but not its contents
backups/** # ignore the contents of backups folder but not the folder itself
dot_config/hypr/config/local.conf
dot_config/micro/buffers/
dot_config/micro/buffers/**